* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html {
    scroll-behavior: smooth;

}

:root {
    --primeira: #152142;
    --secundaria-color: #06111b;
    --clara-color: #ffffff;
    --Azul-color: #0f129e;
    --vidro: rgba(257, 255, 255, 0.1);
    --maisrosa-color: #630599;

}

body {
    background-color: var(--secundaria-color);
    color: var(--clara-color);

}


.navegacao {
    position: fixed;
    top: 0;
    background: rgba(6, 12, 26, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}


.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;

}

.menu-LinK {
    text-decoration: none;
    color: var(--clara-color);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;


}

.menu-LinK::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--Azul-color);
    transition: width 0.5s ease;


}

.menu-LinK:hover::after {
    width: 100%;


}

.Cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.Foto-perfil {
    width: 260px;
    height: 260px;
    box-shadow: 5.5px 11.0px 11.0px hsla(248, 76%, 37%, 0.33);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out  infinite;

}

h1 {
    font-size: 3.5rem;
    color: var(--Azul-color);
    font-weight: bold;
    margin: 20px;

}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--clara-color);
}

.sobre {
    padding: 6rem 2rem;


}

.sobre-titulo {
    font-size: 3rem;
    color: var(--clara-color);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-conteudo {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-texto {
    text-align: center;
    font-size: 1rem;


}

.projetos {
    padding: 6rem 2rem;
}

.projetos-conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-Card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.6s ease;
    cursor: pointer;

}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;


}

.projetos-Card:hover {
    box-shadow: 0 10px 20px rgba(0, 120, 124, 0.2);
    transform: translateY(-10px) scale(1.03);
}



.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;



}

.caixa-textos-projetos {
    padding: 1.5rem;

}




.paragrafo-projeto {
    caret-color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}



.info-projetos {
    margin-bottom: 5px;

}


.contatos {
    padding: 6rem 2rem;

}


.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;

}

.campo-form {

    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--clara-color);
    border: 1px solid var(--vidro);
    outline: none;

}


.campo-form:focus {
    border-color: var(--Azul-color);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);

}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}

.grupo-form {
    margin-bottom: 1.5rem;



}


.botao-form {
    color: var(--clara-color);
    background: linear-gradient(47deg, var(--Azul-color), var(--secundaria-color));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;

}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);

}




.particula{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--Azul-color) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%,  var(--maisrosa-color) 0%, transparent 20%),
     var(--primeira);

}


@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
